body{
    background-color:#dee2e6;
}


.prueba{
  /* border: 1px solid; */
  padding: 10px;
  border-radius: 10px;
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

th { font-size: 15px; }
td { font-size: 14px; }